@import '~https://fonts.googleapis.com/icon?family=Material+Icons';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

#loading
{
    position: absolute;
    margin-top: 300px;
    margin-left: 550px;
}